name: Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch CosyVoice
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.10

      - name: Run tests with coverage
        run: uv run --with pytest --with pytest-cov --with inflect --with regex pytest tests/ -v --tb=short --cov=cosyvoice/utils --cov-report=term-missing
